body {
    color: #72D5A3;
    background-color: #161616;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
}
a {
    color: #72D5A3;
}
a:hover {
    color: #ccc;
}
table {
    border-collapse: collapse;
    margin: 2rem auto;
    max-width: 44ch;
}
td, th {
    border: 1px solid #000;
    padding: .75rem;
}
tr:nth-child(even) {
    background-color: #262626;
}
td {
    text-align: left;
}
th {
    color: #262626;
    background-color: #72D5A3;
}
.left-th {
    min-width: 8ch;
}
.mid-th {
    min-width: 19ch;
}
.right-th {
    min-width: 17ch;
}


.chirp {
    border: 3px double #72D5A3;
    padding: 0 2ch;
    max-width: 44ch;
    margin: auto;
    text-align: left;
}

.chirp li {
    margin-top: 2ch;
    margin-bottom: 2ch;
}

.edit {
    margin: 4ch;
}